<h1>{{title}}</h1>
{{!-- <p>Welcome to {{title}}</p> --}}
<p>Advanced celebrity/movie Search Welcome to most powerful search. Using the
  options below you can create and list of people who match the criteria. You
  are able to create, edit, delete movies, celebrities and casts. this is an
  open source database. lets all work together to build the biggest
  movies/celebrities database in the world!! them here.</p>
<div id="home-page"></div>
<p>Welcome to the
  <strong>Movie-Celebrity</strong>
  page, Where you can
  <a href="/celebrities/create">Create new celebrity</a>, update and delete
  celebrities</p>
{{! ADD A SCREEN SHOT OF THE FINISH CREATE CELEBRITY PAGE }}
<br />
<p>Here you can
  <a href="/celebrities">View all the celebrities</a>
  that is currently in the database. Feel free to update it!</p>
{{! ADD A SCREEN SHOT OF THE FINISH CELEBRITY PAGE }}
<br />

<p>Check out all the movies listed.
  <a href="/movies">View all movies</a>
  {{! ADD A SCREEN SHOT OF THE FINISH MOVIES PAGE }}
</p>
<br />
<p>You didn't find your favorite movie? add it to the list!
  <a href="/movies/create">Create a movies</a></p>

{{! ADD A SCREEN SHOT OF THE FINISH CREATE MOVIE PAGE }}